.management .managementGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
}

.managementGrid .linkBox {
    width: 12rem;
    height: 12rem;
    border: 3px solid #00329F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    transition: .3s;
}

.managementGrid .linkBox:hover {
    background-color: #00329F;
    color: white;
}