@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.roomSuit {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roomSuit .suitContainer {
    width: 81%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suitContainer .mainTitle {
    font-size: 3rem;
    font-family: 'Playfiar Display';
    color: black;
    font-weight: 600;
}

.suitContainer p {
    font-size: 1.1rem;
    color: black;
    font-weight: 500;
    margin-bottom: .5rem;
    text-align: center;
}

.columnImage2 .second {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.second h3 {
    font-size: 1.4rem;
    color: #FF0000;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}

.second h3 sub {
    font-size: .8rem;
    color: black;
    font-weight: 500;
}

.second button {
    padding: .5rem 1rem;
    background-color: #0046B9;
    border: none;
    font-weight: 500;
    border-radius: 15px;
    width: 13rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border: 2px solid transparent;
    transition: .5s;
}

.imageGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 90vw;
    height: 100%;
}

.columnImage1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.columnImage1 .imageBox {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    cursor: pointer;
    border: 3px solid #DA8D3E;
}

.familySuit .imageBox .boxImg {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.roomGrid .imageBox img:hover {
    transform: rotate(3deg) scale(1.1);
}


@media (max-width:990px) and (min-width: 766px) {
    .columnImage1 .imageBox {
        overflow: hidden;
        width: 210px;
        border-radius: 16px;
        cursor: pointer;
    }
}

@media (max-width: 768px) and (min-width: 615px) {
    .columnImage1 .imageBox {
        overflow: hidden;
        width: 180px;
        border-radius: 16px;
        cursor: pointer;
    }

    .columnImage2 .imageBox {
        width: 200px;
        height: 185px;
    }

    .second button {
        padding: .5rem 1rem;
        background-color: #0046B9;
        border: none;
        font-weight: 500;
        border-radius: 15px;
        width: 10rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
        border: 2px solid transparent;
        transition: .5s;
    }
}

@media (max-width: 614px) and (min-width: 560px) {
    .columnImage1 .imageBox {
        overflow: hidden;
        width: 165px;
        border-radius: 16px;
        cursor: pointer;
    }

    .columnImage2 .imageBox {
        width: 180px;
    }

    .second h3 {
        font-size: 1rem;
    }


    .second button {
        padding: .25rem 1rem;
        background-color: #0046B9;
        border: none;
        font-weight: 500;
        border-radius: 15px;
        width: 10rem;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        border: 2px solid transparent;
        transition: .5s;
    }
}

@media (max-width: 559px) and (min-width: 479px) {
    .columnImage1 .imageBox {
        overflow: hidden;
        width: 140px;
        border-radius: 16px;
        cursor: pointer;
    }

    .columnImage2 .imageBox {
        width: 160px;
    }

    .second h3 {
        font-size: .9rem;
    }

    .imageGrid {
        gap: .5rem;
    }

    .second button {
        padding: .25rem 1rem;
        background-color: #0046B9;
        border: none;
        font-weight: 500;
        border-radius: 15px;
        width: 10rem;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        border: 2px solid transparent;
        transition: .5s;
    }
}

@media (max-width: 478px) and (min-width: 0px) {
    .imageGrid {
        display: flex;
        flex-direction: column;
    }

    .columnImage1 .imageBox {
        width: 100%;
    }
}