@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.gallery {
    width: 100%;
    height: auto;
}

.galleryContainer {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.galleryContainer span {
    width: 72%;
    text-align: center;
    border: 1px solid #F50C0C;
    padding: 1rem;
    color: #F50C0C;
    border-radius: 10px;
}

.photoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 800px; */
    gap: 3rem;
    justify-items: center;
    align-items: center;
    margin: 0;
}

.photoContainer .photoColumn {
    text-align: center;
}

.photoContainer .photoColumn h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Playfair Display';
    margin-bottom: 1rem;
}

.photoColumn .photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.photoBox {
    width: 320px;
    height: 100%;
    object-fit: cover;
    /* background-color: orangered; */
}

.photoBox .galleryImg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1279px) and (min-width: 1023px) {
    .photoColumn .photoGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1023px) and (min-width: 887px) {
    .photoColumn .photoGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* gap: .5rem; */
    }

    .photoBox {
        width: 275px;
        height: 275px;
    }
}
@media (max-width: 876px) and (min-width: 769px) {
    .photoColumn .photoGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
    }

    .photoBox {
        width: 240px;
        height: 240px;
    }
}

@media (max-width: 768px) and (min-width: 547px) {
    .photoColumn .photoGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .photoBox {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 546px) and (min-width: 481px) {
    .photoColumn .photoGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }

    .photoBox {
        width: 225px;
        height: 225px;
    }
}

@media (max-width: 480px) and (min-width: 0) {
    .photoColumn .photoGrid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .photoBox {
        width: 80vw;
    }
}