.dashLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
}


.layoutManagement {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3rem;
}

.dashboardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.dashboardContainer h1 {
    font-size: 2.4rem;
    font-weight: 700;
}